$TTL 3h
@ IN  SOA example{{ N }}.com.  root.example{{ N }}.com (
  1234567890
	604800
	86400
	2419200
	604800
)

  IN  NS  ns.example{{ N }}.com
1 IN  PTR gate.example{{ N }}.com
2 IN  PTR server.example{{ N }}.com
