subnet 192.168.{{ N }}.0 netmask 255.255.255.0 {
  range 192.168.{{ N }}.100 192.168.{{ N }}.200;
  option routers 192.168.{{ N }}.{{ last_octet }};
  option domain-name-servers 192.168.{{ N }}.2, 8.8.8.8;
  default-lease-time 600;
  max-lease-time 7200;
}
